.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: auto; 
    margin-top: 200px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .display {
    grid-column: span 4;
    text-align: right;
    padding: 10px;
    font-size: 24px;
  }
  
  .btn {
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .equal-sign {
    grid-column: span 2;
    background-color: #ff9800;
    color: #fff;
  }


  